@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.footer {
    background-color: #0f0d0d;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 200px 50px;
    position: relative;

    .footerContacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .footerContactsTitle {
            font-size: 20px;
            font-weight: bold;
            color: $orange-color;
            text-transform: uppercase;
            margin-bottom: 25px;

            @include width_880 {
                font-size: 17px;
                margin-bottom: 15px;
            }
        }

        .footerContactsName {
            font-size: 15px;
            font-weight: bold;
            color: #72665e;
            margin-bottom: 25px;

            @include width_880 {
                font-size: 12px;
            }
        }

        .footerContactsAddress {
            font-size: 15px;
            font-weight: bold;
            color: #72665e;
            text-transform: uppercase;
            margin-bottom: 10px;

            @include width_992 {
                font-size: 13px;
            }

            @include width_880 {
                font-size: 12px;
            }
        }

        .footerContactsPhone {
            text-transform: uppercase;
            color: $orange-color;
            font-size: 15px;
            font-weight: bold;
        }

        @include width_880 {
            align-items: center;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        margin: 0 auto;
        left: calc(50% - 109px);
        top: 15px;

        .logoImg {
            width: 50px;
            max-height: 50px;
        }

        .logoTitle {
            font-size: 25px;
            font-weight: bold;
            color: white;

            @include width_1271 {
                font-size: 20px;
            }

            @include width_880 {
                font-size: 23px;
            }
        }

        @include width_1271 {
            left: calc(50% - 92px);
        }

        @include width_880 {
            position: static;
            width: 100%;
        }

        @include width_576 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .footerSchedule {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;

        .footerScheduleTitle {
            font-size: 20px;
            font-weight: bold;
            color: $orange-color;
            text-transform: uppercase;
            margin-bottom: 20px;

            @include width_880 {
                font-size: 17px;
            }
        }

        .footerScheduleText {
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            color: #72665e;

            @include width_992 {
                font-size: 15px;
            }

            @include width_880 {
                font-size: 13px;
            }
        }

        @include width_880 {
            align-items: center;
        }
    }

    @include width_1271 {
        padding: 30px 65px 50px;
    }

    @include width_992 {
        padding: 30px 45px 50px;
    }

    @include width_880 {
        padding: 30px 35px 50px;
        flex-direction: column;
        align-items: center;
    }
}